@namespace url("http://www.w3.org/1999/xhtml");
@-moz-document url("about:home"),
url("about:newtab"),
url("about:privatebrowsing"),
url("about:firefoxview") {
    body {
        background: #090909 !important;
    }
}

@-moz-document url("about:firefoxview") {
    body {
        margin: 0 !important;
        padding-bottom: 192px !important;
    }
}

@-moz-document url("about:privatebrowsing") {
    .search-handoff-button {
        background-color: rgba(100, 100, 100, 0.1) !important;
    }
    .fake-textbox {
        color: rgb(200, 200, 200) !important
    }
}

@-moz-document url("about:home"),
url("about:newtab") {
    body[lwt-newtab-brighttext] {
        --newtab-primary-action-background: #ffff00 !important;
        --newtab-primary-action-background-pocket: #0000ff !important;
        --newtab-background-color-secondary: none !important;
    }
    .fake-editable {
        border: 1px solid #0000ff !important;
    }
}


/*linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%) !important*/


/*url("tem/dh.png") !important;*/


/*linear-gradient( red, orange, yellow, green, blue, darkblue, purple) !important;*/
